
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue learning</title>
</head>
<body>
  <div id="app">
    <!-- <h2> {{ product }} are in stock.</h2> -->
    <ul>
      <!-- v-for directive : for-loop -->
      <li v-for="product in products">
        <!-- this way, each product using anyVariable name gets its own list item -->
        <!-- {{product.quantity}} {{product.name}} -->

        <!-- what if we want to write in the quantity of jackets or hiking socks -->
        <!-- v-model directive -->
        <input type="number" v-model.number="product.quantity">
          {{product.name}}
        <!-- for items that have quantity zero, set if statement to render diff text,
        !!!the span text should only appear if our item quantity equals 0 -->
        <!-- v-if directive : if statement -->
        <span v-if="product.quantity === 0">
          - OUT OF STOCK
        </span>

        <!-- add some interactivities, through the use of a button, create an Add button for each product, when a click occurs, we'll increment the quantity by one!
        -->
        <button @click="product.quantity += 1">
          Add
        </button>
      </li>
    </ul>

    <!-- To print out the total number of products -->
    <!-- To make this work, create a computed property called 'totalProducts', which returns the total quantity of our products -->
    <h2>Total Inventory: {{totalProducts}}</h2>

    <h3>Test</h3>
    <input type="text" v-model="message" placeholder="pls edit">
    <p>Message is: {{ message }}</p>


    <h3>Multiple-line message is:</h3>
    <p style="white-space: pre-line">{{ multiMessageReverse }}</p>
    <textarea v-model="multiMessage" placeholder="pls add multiMessage"></textarea>
    <br>

    <div id='example-1'>
      <h2>From Tutorial</h2>
      <!-- 使用 v-model directive 进行双向绑定，双向绑定对应的data property是 ‘message1’，所以需要在Vue instance的 data object 里注册 message1 的属性，注册为默认值 empty string '' -->
      <input type="text" v-model='message1' placeholder="edit me">
      <p>Message is : {{ message1 }}</p>
      <br />

      <textarea v-model='message2' placeholder="add multiple lines"></textarea>
      <p style="white-space: pre-line"> {{message2}} </p>
      <br />

      <!-- checkbox : multiple selection -->
      <div style="margin-top: 20px">
        <input type="checkbox" id="jack" value="stored data value - jack" v-model="checkedName">
        <label for="jack">Jack</label>
        <input type="checkbox" id="john" value="stored data value - john" v-model="checkedName">
        <label for="john">John</label>
        <input type="checkbox" id="mike" value="stored data value - mike" v-model="checkedName">
        <label for="mike">Mike</label>
        <br>
        <span>Checked names: {{checkedName}}</span>
      </div>

      <!-- radio : single selection -->
      <div style="margin-top: 20px">
        <input type="radio" id="one" value="stored data value 1" v-model="chosen">
        <label for="one"> One </label>
        <br>
        <input type="radio" id="two" value="stored data value 2" v-model="chosen">
        <label for="two"> Two </label>
        <br>
        <input type="radio" id="three" value="stored data value 3" v-model="chosen">
        <label for="three"> Three </label>
        <br>
        <span>Chosen: {{chosen}}</span>
      </div>
      <br>

      <!-- create a submit button, and add click event handler to submit data -->
      <!-- here inside the click event handler, 'submit' is a method name defined inside Vue instance, as v-on event handler can also accept the name of a method you’d like to call.-->
      <button @click="submit"> Submit </button>
    </div>
  </div>



  <!-- include Vue library -->
  <script src='https://unpkg.com/vue'></script>
  <script>
    // create a vue instance
    const whatever = new Vue({
      // plug into root element
      el: '#app',
      // move data inside an object
      data: {
        // products: [
        //   'Boots',
        //   'Jackets',
        //   'Hiking Socks'
        // ]
        products: [],
        message: '',
        multiMessage: '',
        // 设置表单element的默认值，
        // 通过改变 Vue instance的 data object property 的 initial value
        // 当表单element的值发生变化时，在data object 的对应property 内，都可以收集到这些表单element对应的当前值
        message1: 'test',
        message2: 'hello',
        // since checkbox is multiple selection, thus we use array []
        checkedName: ['stored data value - jack'],
        // while radio is single selection
        chosen: 'stored data value 1',
      },
      computed: {
        totalProducts() {
          return this.products.reduce((acc,curProduct) => {
            return acc + curProduct.quantity;
          } , 0)
        },
        multiMessageReverse() {
          return this.multiMessage.split('').reverse().join('')
        },
      },
      methods: {
        submit() {
          // 绑定该 method 与 button 的 click event handler之后，可以通过每一个data object 里property的值来获取每一个表单element的当前值，which is actually stored inside data object
          console.log(`submitted: ${this.message1}`);

          // we can declare a new object variable to collect all the data properties, via which we can submit all the info of the form elements
          const submitObj = {
            msg1: this.message1,
            msg2: this.message2,
            checkedName: this.checkedName,
            chosen: this.chosen
          }

          console.log('4x Values', submitObj);
        }
      },
      // fetch data from actual API which could be coming from a database somewhere
      created () {
        fetch('https://api.myjson.com/bins/74l63')
        // when use fetch, need to convert the response to json format first
        .then(response => response.json())
        // when an app is created, fetch the json formated products info from this API and update them in our data
        .then(json => {
          this.products = json.products
        })
      }
    })

    var product = 'Boots'

    console.log('whatever.multiMessage', whatever.multiMessage )
    console.log('whatever.multiMessageReverse', whatever.multiMessageReverse )
  </script>
</body>
</html>


<!-- NOTE:
1,
created() : since the processing of the options is finished you have access to reactive data properties and change them if you want. At this stage DOM has not been mounted or added yet. So you cannot do any DOM manipulation here

mounted(): called after the DOM has been mounted or rendered. Here you have access to the DOM elements and DOM manipulation can be performed for example get the innerHTML:

console.log(element.innerHTML)
So your questions:
1, Is there any case where created would be used over mounted?
Created is generally used for fetching data from backend API and setting it to data properties as wostex commented . But in SSR mounted() hook is not present you need to perform tasks like fetching data in created hook only.

2, What can I use the created event for, in real-life (real-code) situation?
For fetching any initial required data to be rendered(like JSON) from external API and assigning it to any reactive data properties.

data:{
    myJson : null,
    errors: null
},
created(){
    //pseudo code
    database.get().then((res) => {
        this.myJson = res.data;
    }).catch((err) => {
        this.errors = err;
    });
}

2,
In-template expressions are very convenient, but they are meant for simple operations. Putting too much logic in your templates can make them bloated and hard to maintain. For example:

<div id="example">
  {{ message.split('').reverse().join('') }}
</div>
At this point, the template is no longer simple and declarative. You have to look at it for a second before realizing that it displays message in reverse. The problem is made worse when you want to include the reversed message in your template more than once.

That’s why for any complex logic, you should use a computed property.

Example:
<div id="example">
  <p>Original message: "{{ message }}"</p>
  <p>Computed reversed message: "{{ reversedMessage }}"</p>
</div>

var vm = new Vue({
  el: '#example',
  data: {
    message: 'Hello'
  },
  computed: {
    // a computed getter
    reversedMessage: function () {
      // `this` points to the vm instance
      return this.message.split('').reverse().join('')
    }
  }
})


3, Event handling
We can use the v-on directive to listen to DOM events and run some JavaScript when they’re triggered.

For example:
<div id="example-1">
  <button v-on:click="counter += 1">Add 1</button>
  <p>The button above has been clicked {{ counter }} times.</p>
</div>

var example1 = new Vue({
  el: '#example-1',
  data: {
    counter: 0
  }
})

!!!
'v-on:click' === '@click'
There is no difference between the two, one is just a shorthand for the second.

#####

The logic for many event handlers will be more complex though, so keeping your JavaScript in the value of the v-on attribute isn’t feasible. That’s why v-on can also accept the name of a method you’d like to call.

For example:
<div id="example-2">
  ### `greet` is the name of a method defined below ###
  <button v-on:click="greet">Greet</button>
</div>

var example2 = new Vue({
  el: '#example-2',
  data: {
    name: 'Vue.js'
  },
  // define methods under the `methods` object
  methods: {
    greet: function (event) {
      // `this` inside methods points to the Vue instance
      alert('Hello ' + this.name + '!')
      // `event` is the native DOM event
      if (event) {
        alert(event.target.tagName)
      }
    }
  }
})

// you can invoke methods in JavaScript too
example2.greet() // => 'Hello Vue.js!'


4, white-space 属性设置如何处理元素内的空白。
值	        描述
normal	   默认。空白会被浏览器忽略。
pre	       空白会被浏览器保留。其行为方式类似 HTML 中的 <pre> 标签。
nowrap	   忽略空白，且文本不会换行，文本会在同一行上继续，直到遇到 <br> 标签为止。
pre-wrap	 保留空白符序列, 且正常地进行换行。
pre-line	 合并空白符序列，但是保留换行符，正常进行换行。
inherit	   规定应该从父元素继承 white-space 属性的值。


5, data 和 computed 不能重复 property 名字！若重复，优先 data 的定义。
e.g.
[Vue warn]: The computed property "multiMessage" is already defined in data.


6, 你可以用 v-model 指令在表单 <input>、<textarea> 及 <select> 元素上创建双向数据绑定(two-way data bindings)。它会根据控件类型自动选取正确的方法来更新元素。尽管有些神奇，但 v-model 本质上不过是语法糖（syntax sugar for updating data on user input events）。它负责监听用户的输入事件以更新数据，并对一些极端场景进行一些特殊处理。

*** 双向数据绑定，即，
1）通过JS改变Vue instance data的值，会即时体现在DOM page上，
2）通过用户在DOM page上直接的input，改变存储在Vue instance data里的对应property的值。
=>
v-model 会忽略所有表单元素的 value、checked、selected 特性的初始值而总是将 Vue 实例的数据作为数据来源。所以，你应该通过 JavaScript 在组件的 data 选项中声明初始值（define as data property in Vue instance，而非直接用该 html tag 的 attribute 来设定初始值！）

v-model 在内部为不同的输入元素使用不同的属性并抛出不同的事件：
text 和 textarea 元素, 使用 value 属性和 input 事件；
checkbox 和 radio, 使用 checked 属性和 change 事件；
select 字段将 value 作为 prop 并将 change 作为事件。

=> v-model.number
If you want user input to be automatically typecast as a number, you can add the number modifier to your v-model managed inputs:

<input v-model.number="age" type="number">

This is often useful, because even with type="number", the value of HTML input elements always returns a string. If the value cannot be parsed with parseFloat(), then the original value is returned.
 -->
