<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Product App</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="nav-bar"></div>

  <div id="app">
    <div class="product">

      <div class="product-image">
        <!-- 1, v-bind directive : create a bond between the data and the attribute that we want the data to be bound to, NO NEED {{}} => expression in the quotes "" !!!-->
        <!-- here image refers to the vue instance data property image! -->
        <img v-bind:src="image" alt="product image">
      </div>

      <div class="product-info">
        <h1> {{product}}</h1>

        <!-- 2, conditionally render one element if our product is in stock, and another element if our product is out of stock -->
        <!-- we want one of the below elements to show up at a time based off on one new data - whether inStock is true or false -->
        <!-- vue conditional directives : v-if / v-else-if / v-else  -->
        <p v-if="inStock">In Stock</p>
        <p v-else :class="{ 'out-of-stock': !inStock }">Out of Stock</p>
        <!-- the below also works as 'Out of Stock' element is added to DOM only when inStock is false -->
        <!-- <p v-else class="out-of-stock">Out of Stock</p> -->

        <!-- 2nd example, conditional rendering can be more complex by chaining the vue conditional directives together-->
        <p v-if="inventory > 10"> In Stock ({{ inventory }})</p>
        <p v-else-if="inventory <= 10 && inventory > 0"> Almost sold out ({{inventory}}) </p>
        <p v-else> Sold Out (0 in stock)</p>
        <!-- *** v-if will actually add / remove the element from DOM!!! -->

        <!-- 3, v-show directive : when the app cause an element to display or not to display very frequently, v-show is more efficient than v-if-->
        <!-- *** instead of inserting and removing an element over and over again, v-show only toggles the visibility of an element off and on -->
        <!-- when v-show evaluates to false,
        0）the element will be hidden
        1) the element still exists in the DOM,
        2) there's just CSS property of 'display:none' added to it,
        3) will affect the layout to take away the space for the element on the page - shrink!
        => which is a more performant option than adding and removing the elemenet from DOM entirely compared to v-if -->
        <p v-show="showState">Show it or not</p>


        <h2 v-if="onSale">***On SALE***!!!</h2>
        <h2 v-else>***No sale***</h2>

        <br>
        <h2>Details:</h2>
        <ul>
          <!-- 4, v-for directive : for-loop through array -->
          <!-- "details" refers to Vue instance data property 'details' - array -->
          <!-- "detail" is like a variable name for each item that we iterate on as we loop through the array/collection of details => thus, this variable name can be whatever including "detail"-->
          <li v-for="detail in details"> {{detail}} </li>
        </ul>

        <h2>Available sizes:</h2>
        <ul>
          <li v-for="size in sizes" :key="size"> {{size}} </li>
        </ul>

        <!-- when the collection that we want to render into a list is more complex -->
        <!-- *** when rendering lists like this, it's highly recommended to use a 'key' attribute, so that Vue can keep track of each Node's identity. -->
        <!-- here, since 'key' attribute will bind with data 'variantId', so v-bind directive shorthand -->
        <div v-for="variant in variants"
             :key="variant.variantId"
             class="color-box"
             :style="{ backgroundColor: variant.variantColor }"
             @mouseover="updateProduct(variant.variantImage)">
         </div>
         <!-- 6, style binding -->
         <!-- 'color-box' class works for both variants, so add it directly -->
         <!-- while 'backgroundColor' style depends on the variantColor of each variant object, so we specify it separately in style binding to each variant -->

         <!-- *** 1) as in the style's expression within quotes " " it's an object, so we use camelCase for CSS property name
         e.g. 'backgroundColor'(instead of 'background-color')
         Alternatively, you can also use kebab case as long as you put it in quotes ''
         e.g. { backgroundColor: data}  === { 'background-color': data} -->

         <!-- *** 2) binding to a style object -->
         <!-- instead of specifying CSS properties within an object in style attribute, it's usually cleaner and more readable to just bind to an entire style object predefined in data-->
         <span :style="styleObject"> Style Bindings to Objects</span> <br>
         <!-- if you were to have multiple style objects in data, you can bind the element to each of them using an array. -->
         <span :style="[styleObject, styleObject2]"> Binding to multiple style objects using Array</span>






        <!-- 5, v-on: directive, listen for an event you specify after v-on:-->
        <!-- *** shorthand, e.g v-on:click => @click -->
        <!-- *** inside expression within quotes " ", we tell v-on what to do when a click happens-->
        <button v-on:click="cart++"> 1) Add to Cart </button> <br>
        <!-- here,  "cart++" - the expression is simple, but as our app gets more complex, we'll want to be able to trigger METHODS from within these expressions inside quotes " "-->
        <!-- below, "addToCart" is a method defined in vue instance methods object-->
        <button v-on:click="addToCart"
                :disabled="!inStock"
                :class="{ disabledButton: !inStock }"> 2) Add to Cart </button>
        <!-- *** bind the 'disabled' attribute to inStock data, so that when product is inStock-true, disabled-false while inStock-false then disabled-true -->

        <!-- 7, class binding -->
        <!-- On top of disabling the button, bind this .disabledButton CSS class to the button only when/whenever 'inStock' is false => so when inStock is false, .disabledButton class is true - will be added to the button, while if inStock is true, .disabledButton class is false - not to be added to the button element-->

        <!-- *** 1) :class="{ className: data expression}" => the bound data expression (true/false) decides whether the class of className will be added to the element or not!-->

        <!-- *** 2) can also bind an object of classes which is pre-defined in data -->
        <!-- e.g.
        <div :class="classObj"> ... </div>
        data:{
          classObj: {
            active: true,      => Only the class that evaluates to true will be added to the element
            'text-danger': false
          }
        }
        === <div class="active"></div> -->

        <!-- *** 3) can add an array of classes to an element
        e.g.
        <div :class="[activeClass, errorClass]"> ... </div>
        data: {
          activeClass: 'active',
          errorClass: 'text-danger'
        }
        === <div class="active text-danger"></div>  -->

        <!-- *** 4) can even perform some conditional logic with the ternary operator within an array expression
        e.g
        <div :class="[isActive ? activeClass : '']"> ... </div>
        data: {
          isActive: true,
          activeClass: 'active'
        }
        === <div class="active"></div>
      -->



        <button @click="removeFromCart"> 3) Decrement </button>

        <div class="cart">
          <p>Cart({{ cart }})</p>
        </div>

        <!-- more event handler example: -->
        <!-- <form @submit="submitSheet"> ... </form>
        <input @keyup.enter="send"> -->
        <!-- *** '.enter' is called 'modifier': when the "enter" key lifts up after it's pressed, the 'send' method will be triggered.   -->

        <p>I love my {{product}}! They're {{description}} :)</p>
        <p>
          More socks <a :href="sockLink" target="_blank">here</a>!
        </p>
      </div>

    </div>

  </div>


  <!-- install Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>

</body>
</html>


<!-- NOTE:
1, v-bind
: Dynamically binds an attribute to an expression
e.g.
<img v-bind:src="expression">
=> bind image attribute: src, with expression: image in the quotes ""!!!

*** shorthand:
e.g
v-bind:alt="description"  => :alt="description"
v-bind:href="url"         => :href="url"
v-bind:title="toolTip"    => :title="toolTip"
v-bind:class="isActive"   => :class="isActive"
v-bind:style="isStyled"   => :style="isStyled"
v-bind:disabled="isDisabled"  => :disabled="isDisabled"
v-bind:src="image"        => :src="image"
v-bind:key="variantId"    => :key="variantId"


2, display:none VS visibility:hidden
display:none => means that the tag in question will not appear on the page at all. There will be no space allocated for it between the other tags. (although you can still interact with it through the dom, as it still exists in DOM).

visibility:hidden => means that unlike display:none, the tag is not visible, but space is still allocated for it on the page. The tag is rendered, it just isn't seen on the page. （占着茅坑不拉屎）


3, <button disable="true/false">
: disabled -> this boolean attribute prevents the user from interacting with the button.
-> only make the button not do anything (disabled) when it's clicked, but it doesn't change any appearance.
-->
